<div class="heroes-page">
<mat-card *ngIf="hero" class="hero-card">
  <mat-card-header>
    <mat-card-title>{{ hero.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ hero.publisher }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="hero | heroImage" alt="imagen del heroe" mat-card-image>

  <mat-card-content>
    <p><strong>Alter Ego:</strong> {{ hero.alter_ego }}</p>
    <p><strong>First Appearance:</strong> {{ hero.first_appearance}}</p>
    <p><strong>Characters:</strong> {{ hero.characters}}</p>
    <mat-divider></mat-divider>

    <button 
        mat-raised-button 
        color="accent" 
        [routerLink]="['/heroes/list']"
      >Regresar </button>
  </mat-card-content>
</mat-card>

<div *ngIf="!hero">
  <p>Loading...</p>
</div>
</div>