<form>
    <mat-card>
      <mat-card-title>Agregar Superhéroe</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Super héroe*</mat-label>
          <input matInput placeholder="Ingresa el nombre del superhéroe" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Alter ego*</mat-label>
          <input matInput placeholder="Ingresa el alter ego" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Primera aparición*</mat-label>
          <input matInput placeholder="Ingresa la primera aparición" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Personajes*</mat-label>
          <input matInput placeholder="Ingresa los personajes" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Creador*</mat-label>
          <input matInput placeholder="Ingresa el creador" required>
        </mat-form-field>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="warn">Borrar</button>
        <button mat-raised-button color="primary">Guardar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  