<div class="fondo">
<form class="form-container" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Editar / Agregar héroe {{ heroForm.value.superhero }}</mat-card-title>
    <mat-card-content class="form-content">
      
      <div class="form-columns">
        
        <div class="form-fields">
          <mat-form-field appearance="fill">
            <mat-label>Nombre héroe</mat-label>
            <input matInput formControlName="superhero" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Alter ego</mat-label>
            <input matInput formControlName="alter_ego" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Primera aparición</mat-label>
            <input matInput formControlName="first_appearance" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Personajes</mat-label>
            <input matInput formControlName="characters" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Editorial</mat-label>
            <mat-select formControlName="publisher">
              <mat-option *ngFor="let pub of publishers" [value]="pub.id">{{ pub.desc }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Imagen Alternativa</mat-label>
            <input matInput type="text" formControlName="alt_img" placeholder="URL de la imagen">
          </mat-form-field>

          <input type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>

        <!-- Columna derecha: Imagen -->
        <div class="image-container">
          <mat-card>
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa" mat-card-image class="hero-image">
          </mat-card>
        </div>


        

      </div>

    </mat-card-content>

    <mat-card-actions class="action-buttons">
      <button (click)="onDeleteHero()" mat-flat-button  type="button" (click)="onSubmit()">
        <mat-icon>cancel</mat-icon> Borrar
      </button>
      <button mat-flat-button  type="submit">
        <mat-icon>save</mat-icon> Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
</div>