<div class="flex flex-column">
    <span class="text-lg mb-4">Registro</span>

    <mat-form-field>
        <mat-label>Nombre de usuario</mat-label>
        <input type="text" matInput placeholder="Ingresa un nombre de usuario">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Correo</mat-label>
        <input type="email" matInput placeholder="Ingresa un correo electrónico">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Numero telefónico</mat-label>
        <input type="tel" matInput placeholder="Ingresa un numero de telefono">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Crea una contraseña">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Confirmar contraseña</mat-label>
        <input type="password" matInput placeholder="Confirma tu contraseña">
    </mat-form-field>

    <button mat-button mat-flat-button routerLink="/auth/login">
        <mat-icon>home</mat-icon>
        Registrarse
    </button>

</div>
